*, *::before, *::after{
  box-sizing: border-box;
}

/*
Followed the tutorial
*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(7, 7, 50);
}

.head {
  border: 1px solid rgb(79, 63, 28);
  position: absolute;
  background-color: rgb(255, 224, 205);
  height: 350px;
  width: 300px;
  border-radius: 70% 70% 80% 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes, .brows, .eyelids, .cheeks{
  position: absolute;
  width: 190px;
  display: flex;
  justify-content: space-between;
}

.cheeks{
  width: 240px;
  height: 20px;
  margin-top: 100px;
}

.eye{
  background-color: white;
  height: 40px;
  width: 65px;
  border-radius: 100%;
  border-top: 3px solid rgb(200, 154, 97);
  border-bottom: 1px solid rgb(200, 154, 97);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.eye::before{
  content: '';
  position: absolute;
  width: 39px;
  height: 40px;
  background-color: rgb(51, 51, 112);
  border-radius: 100%;
}

.eye::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(22, 11, 54);
  border-radius: 100%;
  margin-left: 14px;
  margin-bottom: 7px;
}

.brow{
  width: 60px;
  height: 30px;
  border-top: 6px solid rgb(139, 81, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100%;
  margin-bottom: 35px;
}

.cheek{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: radial-gradient(rgb(240, 143, 143), rgb(255, 224, 205));
  z-index: 3;
  border-radius: 100%;
  width: 50px;
  height: 30px;
}

.nose{
  position: absolute;
  border: 4px solid rgb(207, 155, 134);
  border-radius: 0 0 100% 100%;
  width: 40px;
  height: 30px;
  border-top: none;
  margin-top: 98px;
}

.mouth{
  position: absolute;
  border: 4px solid rgb(218, 123, 123);
  border-radius: 20% 20% 100% 100%;
  width: 100px;
  height: 36px;
  margin-top: 230px;
  background-color: white;
  border-left-width: 2px;
  border-right-width: 2px;
}

.ears{
  position: absolute;
  width: 340px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.ear{
  width: 23px;
  height: 60px;
  background-color:  rgb(280, 220, 209);
  border-radius: 0 100% 100% 0;
}

.ear:first-child{
  border-radius: 100% 0 0 100%;
}

.hair {
  position: absolute;
  width: 300px;
  height: 125px;
  background-color: rgb(146, 110, 63);
  margin-bottom: 300px;
  border-radius: 90% 90% 0 0;
  }
  
  .hair::before,
  .hair::after {
    content: '';
    position: absolute;
    background-color: rgb(146, 110, 63);
    height: 100px;
    width: 10px;
    transform: translateY(100%);
  }
  
  .hair::after {
    right: 0;
  }

  
  .hair-corner::before,
  .hair-corner::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 30px;
    transform: rotate(45deg);
    background-color: rgb(146, 110, 63);
    top: 115px;
    left: 5px;
    border-radius: 80%;
  }
  
  .hair-corner::after {
    left: initial;
    right: 5px;
    transform: rotate(-45deg);
  }


  /*
  Added a bun on top of the head positioning it over the hair
  */
  .hairbun{
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 125px;
    background-color: rgb(146, 110, 63);
    margin-bottom: 450px;
    border-radius: 60% 60% 60% 60%;
    border: 4px solid rgb(218, 123, 123);
    border-left: none;
    border-right: none;
    border-top: none;
  }
.neck{
  z-index: -1;
  width: 80px;
  height: 125px;
  margin-top: 400px;
  position: absolute;
  border-radius: 30% 30% 0 0 ;
  background-color: rgb(255, 224, 205);
}

.mybody{
  border-radius: 30% 30% 0 0 ;
  z-index: 2;
  width: 320px;
  height: 125px;
  margin-top: 600px;
  position: absolute;
  background-color: pink;
  border: 1px solid rgb(218, 123, 123);
} 

/*
Attempted for a somewhat natural position of the arm
*/

.arm{
  z-index: 1;
  width: 80px;
  height: 125px;
  margin-top: 600px;
  margin-left: 400px;
  transform: skew(-20deg);
  position: absolute;
  background-color: pink;
}   

.hand{
  width: 80px;
  margin-right: 450px;
  position: absolute;

}   

.palm{
  width: 60px;
  height: 70px;
  margin-top: 450px;
  margin-left: 460px;
  transform: skew(-10deg);
  border-radius: 30% 40% 30% 50%;
  border-top: none;
  background-color: rgb(255, 224, 205);
}

/*
Hover over the hand(area) to wave slightly
*/

.hand:hover{
  transform: translateX(-15%);
}

/*
Eyelids are hidden by default
*/
.eyelid{
  background-color: rgb(255, 224, 205);
  height: 40px;
  width: 65px;
  border-radius: 100%;
  border-top: 3px solid rgb(200, 154, 97);
  border-bottom: 1px solid rgb(200, 154, 97);
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  transition: 0.5s;
}

/*
Hover over the eyes to blink
*/
.eyelids:hover .eyelid{
  z-index: 1;
}

/*
Hover over the brows to lift them
*/
.brows:hover .brow{
  transform: translateY(-40%);
}
